{% extends "base.jinja2" %}
{% block content %}
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu">
                <ul class="menu-list">
                    {% for actor in actors %}
                        <li><a href="/actors/{{ actor[0] }}">{{ actor[1] }} {{ actor[2] }}</a></li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
        <div class="column">
            {% block actor %}
                Choose an actor from the menu.
            {% endblock %}
        </div>
    </div>
{% endblock %}